@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

.pink {
  background-color: #FEAFC3;
}

.blue {
  background-color: #69A9FF;
}

.yellow {
  background-color: #FCC850;
}

/* buttons */
.button-banner {
  display: block;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #2D3440;
  background: #FCFCFC;
  width: 176px;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  cursor: pointer;
  margin: 0;
  Padding-top: 12px;
  padding-bottom: 12px;
  border-style: none;
}

.button-banner:hover {
  background: rgba(252, 252, 252, 0.4);
  outline: 4px solid #FCFCFC;
  box-shadow: 0px 4px 15px rgba(133, 133, 133, 0.15);
  border-radius: 26px;
}

.button-banner:focus {
  background: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.button-banner:active {
  background: #FCFCFC;
  outline: 2px solid #2D3440;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.slider-button {
  display: block;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #2D3440;
  background: #FCFCFC;
  width: 139px;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  cursor: pointer;
  margin: 0;
  Padding-top: 12px;
  padding-bottom: 12px;
  border-style: none;
}

.slider-button:hover {
  background: rgba(252, 252, 252, 0.4);
  outline: 4px solid #FCFCFC;
  box-shadow: 0px 4px 15px rgba(133, 133, 133, 0.15);
  border-radius: 26px;
}

.slider-button:focus {
  background: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.slider-button:active {
  background: #FCFCFC;
  outline: 2px solid #2D3440;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.subscribe-button {
  display: block;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FCFCFC;
  width: 160px;
  background: #FF2F64;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  cursor: pointer;
  margin: 0;
  Padding-top: 12px;
  padding-bottom: 12px;
  border-style: none;
}

.subscribe-button:hover {
  background: rgba(252, 252, 252, 0.3);
  outline: 4px solid #FF2F64;
  border-radius: 26px;
  color: #2D3440;
}

.subscribe-button:focus-visible {
  background: #FF2F64;
  outline: 2px solid #2D3440;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;

}

.subscribe-button:active {
  background: #FEAFC3;
  outline: 2px solid #2D3440;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.contact-button {
  display: block;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FCFCFC;
  width: 160px;
  background: #FF2F64;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  cursor: pointer;
  margin: 0;
  Padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 32px;
  margin-left: 130px;
  border-style: none;
}

.contact-button:hover {
  background: rgba(252, 252, 252, 0.3);
  outline: 4px solid #FF2F64;
  border-radius: 26px;
  color: #2D3440;
}

.contact-button:focus-visible {
  background: #FF2F64;
  outline: 2px solid #2D3440;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;

}

.contact-button:active {
  background: #FEAFC3;
  outline: 2px solid #2D3440;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.popover-button {
  display: block;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FCFCFC;
  width: 198px;
  background: #FF2F64;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  cursor: pointer;
  margin: 0;
  Padding-top: 12px;
  padding-bottom: 12px;
  border-style: none;
}

.popover-button:hover {
  background: rgba(252, 252, 252, 0.3);
  outline: 4px solid #FF2F64;
  border-radius: 26px;
  color: #2D3440;
}

.popover-button:focus-visible {
  background: #FF2F64;
  outline: 2px solid #2D3440;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;

}

.popover-button:active {
  background: #FEAFC3;
  outline: 2px solid #2D3440;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.personal-area-button {
  display: block;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FCFCFC;
  width: 113px;
  height: 44px;
  background: #FF2F64;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border-style: none;
}

.personal-area-button:hover {
  background: rgba(252, 252, 252, 0.3);
  outline: 4px solid #FF2F64;
  border-radius: 26px;
  color: #2D3440;
}

.personal-area-button:focus-visible {
  background: #FF2F64;
  outline: 2px solid #2D3440;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;

}

.personal-area-button:active {
  background: #FEAFC3;
  outline: 2px solid #2D3440;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.call-us-button {
  display: block;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FCFCFC;
  width: 260px;
  background: #FF2F64;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  cursor: pointer;
  margin: 0;
  padding: 12px 32px;
  margin-top: 32px;
  border-style: none;
}

.call-us-button:hover {
  background: rgba(252, 252, 252, 0.3);
  outline: 4px solid #FF2F64;
  border-radius: 26px;
  color: #2D3440;
}

.call-us-button:focus-visible {
  background: #FF2F64;
  outline: 2px solid #2D3440;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;

}

.call-us-button:active {
  background: #FEAFC3;
  outline: 2px solid #2D3440;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* navigation */
.navigation {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  width: 1170px;
  margin-top: 30px;

}

.navigation-left {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  padding: 0;
  margin-left: 92px;
}

.navigation-right {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 16px;
  padding: 0;
}

.navigation-link-left {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
  padding: 8px 16px;
}

.navigation-link-left:hover {
  background: rgba(252, 252, 252, 0.5);
  border-radius: 30px;

}

.navigation-link-left:focus-visible {
  background: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
  border-radius: 30px;
  padding: 8px 16px;
}

.navigation-link-left:active {
  background: #FCFCFC;
  border-radius: 30px;
  border: none;
}

.navigation-link-left:current {
  background: #FF4A78;
  border-radius: 30px;
}

.navigation-link-left-button {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  border: none;
  background: #FEAFC3;
  cursor: pointer;
  margin: -7px;

}

/* sub menu start */
.sub-menu {
  display: none;
  flex-direction: row;
  position: absolute;
  top: 40px;
  left: 140px;
  z-index: 1;
  width: 135px;
  min-height: 188px;
  background: #FCFCFC;
  box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 4px;
  padding: 0;

}

.sub-menu::before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #B9B9B9;
  width: 105px;
  bottom: 150px;
  left: 16px;
  z-index: -1;
}

.sub-item {
  display: flex;
  flex-direction: column;
}

.sub-item-sub {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
  padding-top: 6px;
  padding-left: 16px;
  padding-bottom: 6px;
}

.sub-item-sub:hover {
  background: #FFCBD8;
}

.sub-item-sub:focus {
  background: #FF4A78;

}

.sub-item-sub:active {
  background: #FF7799;
}

.sub-item-top {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #2D3440;
  padding-bottom: 22px;
  padding-left: 16px;
  padding-top: 6px;
}

.sub-item-top:hover {
  opacity: 0.6;
}

.sub-item-top:active {
  opacity: 0.3;
}

/* sub menu end */

.navigation-link-right {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  padding: 6px 16px;
  text-decoration: none;
}

.navigation-link-right:hover {
  background: rgba(252, 252, 252, 0.5);
  border-radius: 27px;
}

.navigation-link-right:focus-visible {
  background: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
  border-radius: 27px;
}

.navigation-link-right:active {
  background: #FCFCFC;
  border-radius: 27px;
}

.navigation-link-right:current {
  background: #FF4A78;
  border-radius: 30px;
}

/*  personal area start */

.personal-area {
  position: absolute;
  right: 200px;
  bottom: -340px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background: #FCFCFC;
  padding: 48px 48px;
  border-radius: 4px;
  width: 300px;
  height: 250px;
  z-index: 2;
}

.personal-area-open {
  display: none;
}

.personal-area-title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
  margin: 0;
  padding-bottom: 32px;
}

.top-area-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-area-form {
  box-sizing: border-box;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  width: 324px;
  height: 40px;
  padding-left: 18px;
}

.input-area-form:hover {
  background: #FFFFFF;
  outline: 1px solid #2D3440;
  border-radius: 4px;
}

.input-area-form:focus {
  background: #FFFFFF;
  outline: 2px solid #2D3440;
  border-radius: 4px;
}

.input-area-form:not(:placeholder-shown):invalid {
  background: #FFFFFF;
  outline: 1px solid #EA5454;
  border-radius: 4px;
}

.input-area-form:not(:placeholder-shown):invalid:hover {
  background: #FFFFFF;
  outline: 2px solid #EA5454;
  border-radius: 4px;
}

.input-area-form::placeholder {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
}
dd{
  margin:0;
}
.bottom-area-form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 32px;
  gap: 23px;
}

.bottom-area-right {
  margin: 0;
  padding-top: 5px;
}

.personal-area-link {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

/*  personal area end */
.logo {
  position: absolute;
  left: 0;
  top: 0;
}

.contact-phone {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.search-icon {
  position: relative;
  top: 2px;

}

.enter-icon {
  position: relative;
  top: 2px;
}

.backet-icon {
  position: relative;
  top: 2px;
}

/* search field start */
.search-field {
  position: absolute;
  right: 200px;
  bottom: -40px;
  z-index: 1;
}

.search-field::before {
  content: "";
  position: absolute;
  background: #FCFCFC;
  border-radius: 4px;
  height: 96px;
  width: 356px;
  bottom: -50px;
  right: 75px;
  z-index: -1;
}

.search-open {
  display: none;
}

.input-field-subscribe {
  display: flex;
  flex-direction: row;
  padding-top: 44px;
  padding-left: 26px;
}

.input-search {
  position: absolute;
  top: -20px;
  left: -400px;
  box-sizing: border-box;
  width: 290px;
  margin: 0;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  padding: 14px 16px;
}

.input-search:hover {
  background: #FFFFFF;
  outline: 1px solid #2D3440;
  border-radius: 4px;
}

.input-search:focus {
  background: #FFFFFF;
  outline: 2px solid #2D3440;
  border-radius: 4px;
}

.input-search::placeholder {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #B9B9B9;
}

/* search field end */

/* Корзина начало */

.popover {
  position: absolute;
  left: 59%;
  bottom: -360px;
  width: 411px;
  background: #FCFCFC;
  border-radius: 4px;
  z-index: 2;
}

.popover-cart {
  display: none;
}

.popover-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  padding-bottom: 20px;
  list-style: none;
  padding-left: 40px;
}

.popover-content::before {
  content: "";
  position: absolute;
  width: 345px;
  bottom: 120px;
  border: 1px solid #E7E7E7;
}

.popover-title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
  padding-left: 48px;
}

.popover-close {
  position: absolute;
  left: 370px;
  top: 90px;
  border: none;
  background-color: #FCFCFC;
}

.popover-close:hover,
.popover-close-close:hover {
  opacity: 0.6;
}

.popover-close:focus-visible,
.popover-close-close:focus-visible {
  outline: 2px solid #AF4FFF;
}

.popover-close:active,
.popover-close-close:active {
  opacity: 0.3;
}

.popover-close-close {
  position: absolute;
  left: 370px;
  top: 175px;
  border: none;
  background-color: #FCFCFC;
}

.popover-item {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2D3440;
  width: 121px;

}

.popover-item-item {
  display: flex;
  flex-direction: row;
  gap: 100px;
  background: #1A1A1A;
}

.popover-item-logo {
  padding-right: 23px;
}

.popover-item-link {
  display: flex;
  flex-wrap: nowrap;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2D3440;
  max-height: 46px;
  min-width: 160px;
  margin-bottom: 40px;
  text-decoration: none;
}

.popover-item-link:hover {
  opacity: 0.6;
}

.popover-item-link:focus-visible {
  outline: 2px solid #AF4FFF;

}

.popover-item-link:active {
  opacity: 0.3;
}

.popover-description {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 0;
}

.popover-underdescr {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #B9B9B9;
  width: 92px;
}

.popover-price {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2D3440;
  display: block;
  margin-top: 10px;
  padding-left: 80px;

}

.lower-popover {
  display: flex;
  flex-direction: row;
  gap: 32px;
  padding-left: 40px;
  margin-bottom: 48px;
}

.popover-price-lower {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2D3440;
  display: block;
  margin: 0;
  margin-top: 10px;
}

/* корзина конец */


/* popover empty */
.popover-empty {
  position: absolute;
  left: 70%;
  bottom: -150px;
  width: 288px;
  height: 156px;
  background: #FCFCFC;
  border-radius: 4px;
  z-index: 2;
}

.popover-cart-empty {
  display: none;
}

.popover-empty-title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #2D3440;
  margin: 0;
  padding-top: 48px;
}

/* popover empty end */

/* main */
.page-container {
  margin: 0 auto;
  width: 1170px;
}

/* slider start */
.slider {
  margin: 0;
  padding: 0;
}

.slider-page-active {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  padding-left: 20px;
}

.slider-page-blue {
  display: none;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  padding-left: 20px;
  background: #69A9FF;
}

.slider-page-yellow {
  display: none;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  padding-left: 20px;
  background: #FCC850;
}

.left-slider {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
}

.slider-title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  color: #2D3440;
  margin: 0;
  width: 470px;
}

.slider-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2D3440;
  width: 414px;
  margin: 0;
  padding-top: 24px;
  padding-bottom: 48px;
}

.slider-pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin: 0;
  padding: 0;
  gap: 8px;
  list-style-type: none;
  padding-top: 169px;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  background: #FCFCFC;
  border-radius: 100px;
  cursor: pointer;
  border: none;
  opacity: 0.3;
}

.slider-pagination-button:hover {
  background: rgba(252, 252, 252, 0.3);
  outline: 1px solid #FCFCFC;
  border-radius: 100px;
}

.slider-pagination-button:focus {
  background: rgba(252, 252, 252, 0.3);
  outline: 1px solid #050505;
  border-radius: 100px;
}

.slider-pagination-button:active {
  background: #FCFCFC;
  border-radius: 100px;
}

.slider-pagination-button-current {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  background: #FCFCFC;
  border-radius: 100px;
  cursor: pointer;
  border: none;
}

.middle-slider {
  margin-left: 25px;
  margin-top: 30px;
}

.middle-slider::before {
  content: "";
  position: absolute;
  background: #FFCBD8;
  border-radius: 50%;
  height: 312px;
  width: 312px;
  top: 143px;
  right: 359px;
  z-index: -1;
}

.middle-slider-blue {
  margin-left: 25px;
  margin-top: 30px;
}

.middle-slider-blue::before {
  content: "";
  position: absolute;
  background: #9FC8FF;
  border-radius: 50%;
  height: 312px;
  width: 312px;
  top: 143px;
  right: 359px;
  z-index: -1;
}

.middle-slider-yellow {
  margin-left: 25px;
  margin-top: 30px;
}

.middle-slider-yellow::before {
  content: "";
  position: absolute;
  background: #FCDC92;
  border-radius: 50%;
  height: 312px;
  width: 312px;
  top: 143px;
  right: 359px;
  z-index: -1;
}

.slide-main {
  background: rgba(252, 252, 252, 0.3);
  width: 38px;
  height: 38px;
  border: 2px solid #FCFCFC;
  border-radius: 26px;
  cursor: pointer;
}

.slide-main:hover {
  background: #FCFCFC;
  border-radius: 26px;
}


.slide-main:focus {
  background: rgba(252, 252, 252, 0.3);
  outline: 2px solid #2D3440;
  border-radius: 26px;
  border: none;
}

.slide-main:active {
  background: rgba(252, 252, 252, 0.5);
  border-radius: 26px;
}

.slide-left {
  position: absolute;
  right: 648px;
  bottom: 290px;
}

.slide-right {
  position: absolute;
  right: 340px;
  bottom: 290px;
}

.right-slider {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 220px;
  gap: 50px;
  margin-left: 100px;
}

.left-icecream,
.right-icecream {
  z-index: 1;
  cursor: pointer;
}

.ice-cream-orange {
  opacity: 40%;
}

.left-icecream::before {
  content: "";
  position: absolute;
  background: #FFCBD8;
  opacity: 0.4;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  top: 243px;
  right: 163px;
  z-index: -1;
}

.right-icecream::before {
  content: "";
  position: absolute;
  background: #FFCBD8;
  opacity: 0.4;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  top: 243px;
  right: 46px;
  z-index: -1;
}

.left-icecream-blue,
.right-icecream-blue {
  border: none;
  z-index: 1;
  cursor: pointer;
}

.left-icecream-blue::before {
  content: "";
  position: absolute;
  background: #9FC8FF;
  opacity: 0.4;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  top: 243px;
  right: 165px;
  z-index: -1;
}

.right-icecream-blue::before {
  content: "";
  position: absolute;
  background: #9FC8FF;
  opacity: 0.4;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  top: 243px;
  right: 48px;
  z-index: -1;
}

.left-icecream-yellow,
.right-icecream-yellow {
  border: none;
  z-index: 1;
  cursor: pointer;
}

.left-icecream-yellow::before {
  content: "";
  position: absolute;
  background: #FCDC92;
  opacity: 0.4;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  top: 243px;
  right: 165px;
  z-index: -1;
}

.right-icecream-yellow::before {
  content: "";
  position: absolute;
  background: #FCDC92;
  opacity: 0.4;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  top: 243px;
  right: 48px;
  z-index: -1;
}

.social-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 16px;
  margin: 0;
  padding-top: 170px;
  padding-left: 140px;
}

.button-social:hover {
  outline: 2px solid rgba(252, 252, 252, 0.5);
  border-radius: 24px;
}

.button-social:focus {
  outline: 2px solid #2D3440;
  border-radius: 24px;
}

.button-social:active {
  outline: 2px solid rgba(252, 252, 252, 0.5);
  border-radius: 24px;
  opacity: 0.5;
  fill: #050505;
}

/* slider end */
/* banner */
.banner {
  margin: 0 auto;
  width: 1170px;
  padding-bottom: 81px;
  margin-top: 50px;
}

.banner-title-main {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #2D3440;
  margin: 0;
  padding-bottom: 56px;
  padding-top: 56px;

}

.banner-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 30px;


}

.banner-left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 536px;
  background: #FF7799;
  border-radius: 16px;
  padding-left: 36px;
  padding-bottom: 30px;
  background-image: url(..//images/left-pic.png);
  background-repeat: no-repeat;
  background-position: bottom 0 right 1px;
}

.banner-right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 536px;
  background: #FF7799;
  border-radius: 16px;
  padding-left: 36px;
  padding-bottom: 30px;
  background-image: url(..//images/right-pic.png);
  background-repeat: no-repeat;
  background-position: bottom 0 right 1px;
}



.banner-title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
}

.banner-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
  max-width: 328px;
  padding-bottom: 26px;
}

.products {
  margin: 0 auto;
  width: 1170px;
}

.product-cart {
  position: relative;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  gap: 25px;
  padding-bottom: 80px;
}

.product-cart-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 270px;
  background-image: linear-gradient(to top, #FCFCFC 282px, #FEAFC3 50px);
}

.product-photo {
  display: block;
  padding-left: 51px;
  border-radius: 50%;
}

.cart-title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #2D3440;
  margin: 0;
  padding: 0;
  padding-bottom: 8px;
}

.cart-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #565C66;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
}

.product-bottom-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.product-price {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
}

.product-button {
  display: block;
  border: none;
  background: #FF2F64;
  border-radius: 26px;
  width: 32px;
  height: 32px;
  margin-top: 15px;
  cursor: pointer;
}

.product-button:hover {
  background: rgba(252, 252, 252, 0.3);
  outline: 2px solid #FF2F64;
  border-radius: 26px;

}

.product-button:focus {
  background: #FF2F64;
  outline: 2px solid #2D3440;
  border-radius: 26px;
}

.product-button:active {
  background: #FFCBD8;
  outline: 2px solid #FF2F64;
  border-radius: 26px;
}

.product-car-logo {
  padding-top: 5px;
}

.about {
  margin: 0 auto;
  background-image: url(..//images/waffle.png);
  padding: 24px 24px;
}

.about-wrapper {
  background-color: #FCFCFC;
  position: relative;
}


.about-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.about-top {
  display: flex;
  flex-direction: row;
  gap: 60px;
  padding-bottom: 40px;
}

.about-bottom {
  display: flex;
  flex-direction: row;
  gap: 60px;
  padding-bottom: 56px;
}

.about-logo {
  position: relative;
  left: 35px;
}

.about-text {
  width: 380px;
  margin: 0;
}

/* news */
.news {
  margin: 0 auto;
  width: 1170px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.news-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.left-news {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 570px;
  background-image: url(..//images/news.png);
  background-repeat: no-repeat;
  border-radius: 16px;
  margin-right: 30px;
}

.left-text-news {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #565C66;
  margin: 0;
  padding-top: 32px;
  padding-left: 32px;
  padding-bottom: 12px;
}

.left-title-news {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
  margin: 0;
  padding-left: 32px;
  padding-bottom: 67px;
  width: 300px;
}

.right-news {
  display: flex;
  flex-wrap: wrap;
  background-image: url(..//images/subscribe.png);
  padding: 6px 10px;
}

.right-news-wrapper {
  background-color: #FCFCFC;
  width: 558px;
}

.right-text-news {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  margin: 0;
  padding-top: 26px;
  padding-left: 26px;
  width: 506px;
}

.input-field-subscribe {
  display: flex;
  flex-direction: row;
  padding-top: 44px;
  padding-left: 26px;
}

.input-subscribe {
  box-sizing: border-box;
  width: 290px;
  margin: 0;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  margin-right: 18px;
  padding: 14px 16px;
}

.input-subscribe:hover {
  background: #FFFFFF;
  outline: 1px solid #2D3440;
  border-radius: 4px;
}

.input-subscribe:focus {
  background: #FFFFFF;
  outline: 2px solid #2D3440;
  border-radius: 4px;
}

.input-subscribe:not(:placeholder-shown):invalid {
  background: #FFFFFF;
  outline: 1px solid #EA5454;
  border-radius: 4px;
}

.input-subscribe:not(:placeholder-shown):invalid:hover {
  background: #FFFFFF;
  outline: 2px solid #EA5454;
  border-radius: 4px;
}

.input-subscribe::placeholder {
  color: #B9B9B9;
}

/* delivery */
.delivery {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 1170px;
  background-image: url(..//images/delivery.png);
  background-repeat: no-repeat;
  border-radius: 16px;
  margin-bottom: 80px;
}

.left-delivery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 370px;
  padding-top: 167px;
  padding-left: 100px;
}

.delivery-title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2D3440;
  margin: 0;
  padding-bottom: 24px;
}

.delivery-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  margin: 0;

}

.right-delivery {
  display: flex;
  flex-direction: column;
  width: 460px;
  height: 406px;
  background: #FCFCFC;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  margin-top: 64px;
  margin-bottom: 60px;
  margin-left: 135px;
  padding-left: 40px;
}

.right-delivery-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 32px;
  width: 380px;
}

.delivery-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

}

.input-top-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 16px;
  padding-bottom: 40px;
}

.wrapper-column {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.date-input {
  box-sizing: border-box;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  width: 117px;
  height: 42px;
  padding-left: 14px;
  padding-top: 5px;
}

.date-input:hover,
.tel-input:hover,
.address-input:hover {
  background: #FFFFFF;
  outline: 1px solid #2D3440;
  border-radius: 4px;
}

.date-input:focus,
.tel-input:focus,
.address-input:focus {
  background: #FFFFFF;
  outline: 2px solid #2D3440;
  border-radius: 4px;
}

.date-input:not(:placeholder-shown):invalid,
.tel-input:not(:placeholder-shown):invalid,
.address-input:not(:placeholder-shown):invalid {
  background: #FFFFFF;
  outline: 1px solid #EA5454;
  border-radius: 4px;
}

.date-input:not(:placeholder-shown):invalid:hover,
.tel-input:not(:placeholder-shown):invalid:hover,
.address-input:not(:placeholder-shown):invalid:hover {
  background: #FFFFFF;
  outline: 2px solid #EA5454;
  border-radius: 4px;
}

.date-input::placeholder {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #B9B9B9;
}

input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.tel-input {
  box-sizing: border-box;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  width: 287px;
  height: 42px;
  padding-left: 14px;
}

.tel-input::placeholder {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #B9B9B9;
}

.contact-us {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
}

.address-input {
  box-sizing: border-box;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  width: 420px;
  height: 42px;
  padding-left: 14px;
}

.address-input::placeholder {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #B9B9B9;
}

/* tooltip */

.tooltip-toggle {
  position: absolute;
  bottom: 330px;
  right: 458px;
  border-style: none;
  background-color: #FFFFFF;
  cursor: pointer;
  border: none;
}

.tooltip-text {
  display: none;
  position: absolute;
  bottom: 325px;
  right: 290px;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  width: 169px;
  height: 52px;
  color: #565C66;
  border: 1px solid #B9B9B9;
  background: #FCFCFC;
  box-shadow: 0 2px 12px rgba(173, 152, 143, 0.18);
  border-radius: 1px;
  padding: 10px 15px;
}

.tooltip-toggle-contact {
  position: absolute;
  bottom: 210px;
  right: 448px;
  border-style: none;
  background-color: #FFFFFF;
  cursor: pointer;
  border: none;
}

.tooltip-text-contact {
  display: none;
  position: absolute;
  bottom: 210px;
  right: 290px;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  width: 160px;
  height: 52px;
  color: #565C66;
  border: 1px solid #B9B9B9;
  background: #FCFCFC;
  box-shadow: 0 2px 12px rgba(173, 152, 143, 0.18);
  border-radius: 1px;
  padding-top: 10px;
  padding-left: 8px;
}

/* call us */

.call-us {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 1170px;
  height: 492px;
  background-image: url(..//images/callus.png);
  background-repeat: no-repeat;
  border-radius: 16px;
}

.left-call-us {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: #FCFCFC;
  box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  height: 364px;
  width: 343px;
  margin-top: 64px;
  margin-left: 64px;
  padding-left: 40px;
  padding-top: 40px;
  gap: 12px;
}

.text-call-us {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  margin: 0;

}

.title-call-us {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
  margin: 0;

}

.text-call-time {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #565C66;
  margin: 0;
}

.dd-call-time,
.dl-call-us {
  margin: 0;
  padding-top: 10px;
}

/* footer */

.page-footer {
  margin: 0 auto;
  width: 1170px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 44px;

}

.footer-social-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px;

}

.middle-list {
  display: grid;
  grid-template-columns: 150px 200px;
  gap: 10px;
  margin: 0;
  padding: 0;
  margin-left: 170px;
  list-style-type: none;
}

.middle-link-active {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.middle-link {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.middle-link {
  padding-left: 18px;
}

.html-academy-footer {
  opacity: 0.9;
  border-bottom: 1px solid #2D3440;
}

/* Modal window start */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(27, 32, 46, 0.12);
}

.modal-window {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  width: 570px;
  height: 545px;
  left: 460px;
  top: 122px;
  background: #FCFCFC;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.modal-close {
  display: none;
}

.close-button {
  position: relative;
  left: 90%;
  top: -50px;
  background-image: url(../images/close.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
  height: 26px;
  width: 26px;
  cursor: pointer;
  background-color: #FFFFFF;
}

.close-button:hover {
  opacity: 0.6;
}

.close-button:focus-visible {
  outline: 2px solid #AF4FFF;

}

.close-button:active {
  opacity: 0.3;
}

.order-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 64px;
}

.user-forma {
  height: 149px;
}

.user-email:hover,
.user-name:hover,
.user-forma:hover {
  background: #DCDCDC;
}

.user-email:focus-visible,
.user-name:focus-visible,
.user-forma:focus-visible {
  outline: 2px solid #AF4FFF;
  background: #F0F0F0;
}

.user-email:not(:placeholder-shown):invalid {
  border-color: #FF3D3D;
}

input.user-email:disabled {
  background: #F0F0F0;
  opacity: 0.3;
}

.order-item {
  display: flex;
  flex-direction: column;
  width: 442px;
  margin-bottom: 60px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin: 0;
  gap: 16px;

}

.order-item input {
  box-sizing: border-box;
  width: 100%;
  padding: 14px 16px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background: #FFFFFF;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
}

.order-item input::placeholder {
  opacity: 0.6;
}

.modal-title {
  display: block;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
  padding-left: 64px;
  padding-top: 64px;
  margin: 0;
}

.button-modal {
  display: block;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FCFCFC;
  width: 152px;
  height: 44px;
  background: #FF2F64;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border-style: none;
  margin-left: 286px;
  margin-top: 32px;
}


/* modal window end */
